* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.side-nav a {
  color: #3a3a3a;
  font-weight: bold;
}

.side-nav a:hover {
  color: #1e1e1e;
}

.nav-item .nav-link {
  color: #0d6efd !important;
}

.nav-item a:hover {
  font-weight: bold;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
